.Rproj.user
.Rhistory
.RData
.Ruserdata
LCP.shp.NARWHAL.15356.13240.sr.lock
barriers1.tif
barriers1.tif.ovr
corridors.tif
corridors.tif.ovr
pinchpoints.tif
resistance.tif
pinchpoints.tif.ovr
resistance.tif.ovr
resistance.tif.vat.dbf.NARWHAL.15356.13240.sr.lock
study_region_merge.shp.NARWHAL.15356.13240.sr.lock
